.player {
  position: fixed;
  bottom: 0;
  max-width: 1084px;
  width: inherit;
  background: #1e1e1e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 9999;
  transition: transform 0.3s ease;
  height: 100px;
}

.player.hidden {
  transform: translateY(100%);
}

.above {
    width: 100%;
}

.below {
    display: flex;
}





.album-art {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.track-info {
  flex: 1;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}


.audio_button {
    background: none;
}

#playPause img {
    height: 50px;
}

#stop img {
    height: 35px;
}


#playPause img {
  vertical-align: middle;
}

.hidden {
  display: none;
}


.audio_dropdown {
    position: relative;
    width: 210px;
}

#audioDropdownToggle {
    background: #1abc9c;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: inherit;
    display: flex;
    justify-content:space-between;
}

.audio-chevron {
    padding-top: 12px;
    padding-right: 15px;
    font-size: 20px;
}

#versionLabel {
    margin: 10px 0 5px 0;
    font-size: 18px;
}

#versionImage {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4px;
    height: 40px;
}

.audio-type-icon {
    height: 25px;
}

.audio_dropdown_menu {
  position: absolute;
  bottom: 43px;
  right: 0;
  background: #16a085;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: none;
  flex-direction: column;
  overflow: hidden;
  width: inherit;
  font-size: 12px;
}

.audio_dropdown_menu.visible {
  display: flex;
}



#downloadAll, .version-btn {
  background: none;
  color: white;
  border: none;
  padding: 8px 10px;
}


.version-btn {
  text-align: left;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.version-btn i:hover {
    color: black;
}

#downloadAll {
    text-align: center;
}

#downloadAll:hover, .version-btn:hover {
  background: rgba(255, 255, 255, 0.15);
}






/* New Styles */

